:host {
  display: block;
}

::ng-deep :root {
  --first-color: #dbecbf;
  --second-color: #4d5669;
}

.light-mode {
  background-color: var(--first-color);
  color: var(--second-color);
}

.dark-mode {
  background-color: var(--second-color);
  color: var(--first-color);
  
}

.light-container {
  border-bottom: 2px solid var(--second-color);
}

.dark-container {
  border-bottom: 2px solid var(--first-color);
}

.main-container {
  margin: auto;
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content:center; 
  align-items:center;
}

/* KEYBOARD STYLE */
.simple-keyboard {
  width: 30vw;
  margin: auto;
  margin-top: 5%;

  font-family: 'Inter Tight', sans-serif;
}

.simple-keyboard.hg-theme-default.myLightTheme {
  border: 5px solid var(--second-color);
  background-color: var(--first-color);
  color: var(--second-color);
  border-radius: 10px;
}

.simple-keyboard.hg-theme-default.myDarkTheme {
  border: 5px solid var(--first-color);
  background-color: var(--second-color) !important;
  color: var(--second-color) !important;
  border-radius: 10px;
}

.simple-keyboard.hg-layout-default .hg-button.hg-red {
  background: red !important;
  color: white;
}

.keyboard-container {
  height: 40vh;
  overflow-y: hidden;
}

/* WIN/LOSE PANEL */
.result-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #4d566958;

  display: flex;
}

.result-panel {
  width: 35%;
  height: 50%;
  margin: auto;
  text-align: center;
  /* background-color: var(--first-color); */
  /* border: 1px var(--second-color) solid; */
  border-radius: 5%;
  /* box-shadow: 10px 10px 1px var(--second-color) ; */
}

.result-title {
  font-size: 6vw;
  margin-top: 1%;
  font-family: 'Inter Tight', sans-serif;
  border-bottom: 2px solid var(--second-color);
}

.panel-light-mode {
  border: 1px var(--second-color) solid;
  background-color: var(--first-color);
  color: var(--second-color);
}

.panel-dark-mode {
  border: 1px var(--first-color) solid;
  background-color: var(--second-color);
  color: var(--first-color);
}

/* BUTTONS IN PANEL */
.btn-default {
  border-radius:23px;
  border: 2px solid var(--second-color);
  width: 10vw;
  font-size: 1.5vw;
  color: var(--second-color);
  background-color: rgba(255, 255, 255, 0.222);

  margin: 5%;
}

.btn-default:hover {
  border-radius:23px;
  border: 2px solid #95a3c1;
  width: 10vw;
  font-size: 1.5vw;
  color:#95a3c1;
} 

.btn-default:active {
  border-radius:23px;
  border: 2px solid #ffffff;
  width: 10vw;
  font-size: 1.5vw;
  color:#ecf2ff;

  margin: 5%;
}

.btn-light-mode {
  border: 2px solid var(--second-color);
  color: var(--second-color);
  
}

.btn-dark-mode {
  border: 2px solid var(--first-color);
  color: var(--first-color);
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}