.img-moon {
    width: 3vw;
    margin-right: 2vw;
    margin-top: 2vh;
    cursor: pointer;
  }
  
  .moon-container {
    display: flex;
    width: 100vw;
    flex-direction: row-reverse;
    position:absolute;
    z-index: 1;
  }