:host {
  display: block;
}

.board-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100%;
  column-gap: -5vw;
}

.board-row.shake {
  animation-name: horizontal-shaking;
  animation-duration: 1s;
  animation-timing-function: ease;
}

@keyframes horizontal-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
 }

@media only screen and (max-width: 768px) {  
  
}